*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    background-color: #B7E2F0;
    margin-top: 0px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown{
    margin-right: 100px;
    align-items: center;
    font-size: medium;
    width: 150px;
}
.title{
    margin-left: 50px;
    align-items: center;
}
.roboImage{
    width: 50vw;
    height: 90vh;
}
.login{
    width: 50vw;
    height: 90vh;
}
.body{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    
}
.Loginside{
    border: solid rgb(6, 6, 6) 5px;
    display: flex;
    margin-left: 10%;
    justify-content: center;
    border-radius: 10%;
    background-color: #B7E2F0;
}
.loginbox{
    font-size: large;
    padding-top: 150px;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
}
.Username, .Password{
    margin: 10px; 
    font-size: larger;
}
.btn{
    display: flex;
    justify-content: center;
}
.btn-submit{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 25px;
    font-size: medium;
    margin: 10px;
}
#Username, #password{
    height: 25px;
    width: 150px;
}
.Form{
    margin-bottom: 50%;
    margin-right: 5%;
    margin-left: 15%;
}
.EmployeeInfo{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    /* margin-top: 5%; */
    /* height: 100%; */
    background-color: bisque;
}
.Employeeimage{
    margin-top: 10%;
    margin-right: 150px;
    margin-left: 50px;
    width: 300px;
    height: 300px;
    border-radius: 50%; 
    margin-bottom: 300px;
}
.employeeDetail{
    display: flex;
    flex-wrap: wrap; /* Make sure elements wrap to new rows */
    margin-bottom: 400px;
}
.flex-item {
    flex: 0 0 calc(33.33% - 10px); /* Adjust the width as needed */
    margin: 10px; /* Adjust the initial gap between items */
}

.employeeInfoImage{
    margin-top: 5%;
    margin-right: 50px;
    margin-left: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    margin-bottom: 300px;
}
.employeeInfoDetail{
    display: flex;
    margin-bottom: 400px;
    margin-top: 120px;
    gap: 100px;
}
.EmployeeLogin{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin-top: 5%; */
    height: 100%;
    background-color: bisque;
}
.managerBoard{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: -100px;
}
